
body {
    padding-left: 15px;
}

h3, ul {
    color: #5F9EA0;
    font-family: 'Lobster';
}

.content container{
    padding-left: 80px
}
.navbar-inverse{
    color: #C25100;
    font-family:'Lobster';
    font-size: 18px;
}

.navbar-brand{
    color: #C25100;
    font-family:'Lobster';
    font-size: 24px;
}


.top-menu{
    color: #C25100;
    font-family: 'Lobster';
    font-size: 32px;
}