<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Fast Tutoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="app-layout">
    <nav class="navbar-expand-md bg-success navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
               <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                   <!-- Branding Image -->
                <a class="navbar-brand" href="/">Learn Fast</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'sis:schedule_list' %}">Enroll</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <i class="fa fa-btn fa-sign-out"></i>Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                    <div class="links">
                         <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static "image/about_us.png" %}" alt="about us"/></a>
                                    <div class="caption">
                                        <h3>About Us</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{% url 'sis:schedule_list' %}"><img src="{% static "image/enroll.jpg" %}" alt="enroll"/></a>
                                    <div class="caption">
                                        <h3>Enroll</h3>
                                        {% if user.is_authenticated %}
                                            <p><a class="btn btn-default" href="{% url 'sis:schedule_list'%}" role="button">Click to View Classes &raquo;</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static "image/contact_us.jpg" %}" alt="contact us"/></a>
                                    <div class="caption">
                                        <h3>Contact Us</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>