<!DOCTYPE html>
<html lang="en">
{% extends 'sis/base.html' %}
{% load staticfiles %}
{% block content %}
    <body>
        {% if user.is_authenticated %}
            <div class="container">
                <h2 class="top-menu">Hello {{ user.username }},</h2>
                <p>Please choose from below options.</p>
            </div>
        {% endif %}
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    <div class="links">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static "image/dashboard.png" %}" alt="dashboard"/></a>
                                    <div class="caption">
                                        <h3>Dashboard</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{% url 'sis:schedule_list' %}"><img src="{% static "image/enroll.jpg" %}" alt="enroll"/></a>
                                    <div class="caption">
                                        <h3>Enroll</h3>
                                        {% if user.is_authenticated %}
                                            <p><a class="btn btn-default" href="{% url 'sis:schedule_list'%}" role="button">Click to View Classes &raquo;</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href=""><img src="{% static "image/checkout.png" %}" alt="checkout"/></a>
                                    <div class="caption">
                                        <h3>Checkout</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}


</html>