<!DOCTYPE html>
<html lang="en">
{% extends 'sis/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Learn Fast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<style>
    body {
        background-color: beige;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Learn Fast For a Better Future!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 style="padding-left: 15Px">Schedule Information</h2>
</div>
<div id="main" class="schedule-list">
    {% for schedule in schedules %}
    <div class="item">
        <a href="{{ schedule.get_absolute_url }}">{{ schedule.schedule_course_name }}</a>
        <p>{{schedule.schedule_date}}</p>
        <p>{{schedule.schedule_time}}</p>
        <p>{{schedule.schedule_tutor_name}}</p>
        <br>
        ${{ schedule.price }}
    </div>
    {% endfor %}
</div>
</body>
{% endblock %}