{% extends "sis/base.html" %}
{% load static %}

{% block title %}
  {{ schedule.schedule_course_name }}
{% endblock %}

{% block content %}
  <div class="schedule-detail">
    <h1>{{ schedule.schedule_course_name }}</h1>
    <p class="price">${{ schedule.price }}</p>
    <form action="{% url "cart:cart_add" schedule.id %}" method="post">
      {{ cart_schedule_form }}
      {% csrf_token %}
      <input type="submit" value="Add to cart">
    </form>
    {{ schedule.schedule_notes|linebreaks }}
  </div>
{% endblock %}