{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Learn Fast</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {background-color: beige;}
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Learn Fast For a Better Future!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Tutor Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="bg-info">
                    <th>Tutor Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip Code</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Subject Expertise</th>
                    <th colspan="3">Summary</th>
                </tr>
            </thead>
            <tbody>
            {% for tutor in tutors %}
                <tr>
                    <td>{{ tutor.tutor_name }}</td>
                    <td>{{ tutor.tutor_address }}</td>
                    <td>{{ tutor.tutor_city }}</td>
                    <td>{{ tutor.tutor_zip }}</td>
                    <td>{{ tutor.tutor_email }}</td>
                    <td>{{ tutor.tutor_phone }}</td>
                    <td>{{ tutor.tutor_sub_expertise }}</td>
                    <td><a href="" class="btn btn-primary">Summary</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
    </html>
{% endblock %}